---
import { getLocaleFromUrl, i18nObject, loadLocale } from '@utils/i18n';
import type { Locales } from '~/types';

type Props = {
	fallbackLocale: Locales;
};

const { fallbackLocale } = Astro.props;

const locale = getLocaleFromUrl(Astro.url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<div class="py-4 px-8 border rounded-lg border-warning-300 bg-warning-50 text-warning-800">
	{t.docs.fallbackTip(locale, fallbackLocale)}
</div>
