.table-of-contents {
	.__list {
		padding-left: 1rem;
	}

	.__item {
		font-size: var(--font-md-size);
		line-height: var(--font-md-line-height);
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		word-break: break-all;
	}

	.__link {
		color: var(--color-gray-800);
		line-height: 1.75rem;
		text-decoration: none;

		&.--active {
			color: var(--color-primary-600);
		}
	}

	.__marker-box {
		position: absolute;
		transition: transform 0.3s;
		transform: translateY(0);
		margin-left: 4px;
	}

	.__marker {
		background-color: var(--color-primary-500);
		position: absolute;
		margin-top: 4px;
		height: 1.25rem;
		width: 4px;
		border-radius: var(--rounded-full);
		left: calc(50% - 4px / 2);
	}
}
