.black button{
	width: 180px;
	height: 60px;

	background-color: #262626;

	border-radius: 6px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.85);

	border: 4px solid #000;

	box-shadow: inset 0 0 30px #000;

	cursor: pointer;
	position: relative;

	overflow: hidden;

	position: relative;

}

.black button::before{
	content: "";

	width: 70%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);

	position: absolute;
	top: 0;
	left: -10px;

	transform: skewX(-15deg);

	transition: 0.5s;


}

.black button:hover:before {
	left: 130px;
}


.black button::after{
	content: "";
	width: 50px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);

	position: absolute;
	top: 0;
	left: -70px;

	transform: skewX(-15deg);

	transform: 0.5s;

	transition-delay: 0.2s;

}

.black button:hover::after{
	left: 200px;
}


