:root {
	--astro-code-color-background: #f6f8fa;
	--shiki-token-string-expression: #cc0000;
	--astro-code-token-function: #6f42c1;
	--astro-code-token-string-expression: #0a3069;
	--astro-code-color-text: #24292e;
	--astro-code-token-keyword: #d73a49;
	--astro-code-token-comment: #7f7f7f;
}
