.docs {
	--docs-code-background-color: #f6f8fa;
	--docs-h-color: #526fff;
	--docs-a-color: rgba(255, 0, 0, 0.2);
	--docs-a-hover-color: #526fff;
	--docs-li-color: #526fff;

	h2 {
		margin: 1em 0;
		font-size: 1.28571em;
		border-left: 0.3em solid var(--docs-h-color);
		padding-left: 0.5em;
		margin-left: -0.8em;
		line-height: 1;
		font-weight: 600;
	}

	.docs h3 {
		font-weight: 600;
		margin-left: -0.95em;

		&::before {
			content: '#';
			color: var(--docs-h-color);
			margin-right: 0.4em;
		}
	}

	a {
		margin: 0;
		display: inline-block;
		position: relative;
		text-align: left;
		font-weight: normal;

		text-decoration: solid underline var(--docs-a-color) 2px;
		transition: 0.3s linear;

		&:hover {
			color: var(--docs-a-hover-color);
			transition: 0.3s linear;
		}
	}

	ul,
	ol {
		padding-inline-start: 40px;

		li::marker {
			color: var(--docs-li-color);
		}
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}

	pre {
		padding: 1rem;
		border-radius: 5px;
		font-size: 0.875em;
		font-weight: 400;
		overflow-x: auto;
	}

	/* select inline code, not code blocks */
	code:not(pre code) {
		background-color: var(--docs-code-background-color);
		padding: 2px 4px 2px;
		border-radius: 5px;
		overflow-x: auto;
	}

	blockquote {
		margin: 10px 0;
		padding: 1.5em;
		border-left: 4px solid #cecece;
		background-color: #f4f4f4;
		color: #585858;
	}

	table {
		width: 90%;
		background: #ccc;
		margin: 10px auto;
		border-collapse: collapse;
	}

	th,
	td {
		height: 25px;
		line-height: 25px;
		text-align: center;
		border: 1px solid #ccc;
	}
}
