---
import NavPopper from '@components/layout/nav-popper';
import { siteConfig } from '@config';
import { loadLocale, i18nObject, getLocaleFromUrl } from '@utils/i18n';

const url = Astro.url;
const locale = getLocaleFromUrl(url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<div class="sticky w-full border-b border-gray-200">
	<nav class="container top-0 py-4 px-4 mx-auto flex items-center justify-between font-semibold text-md">
		<!-- Left -->
		<div class="flex items-center gap-4">
			<!-- Logo -->
			<a class="flex items-center gap-1 outline-none focus:ring ring-gray-100 rounded" href="/">
				<img class="w-8 h-8" src={siteConfig.site.logoImg} alt={t.site.logoAlt()} />
				<span>{t.site.logotype()}</span>
			</a>
			<!-- Links -->
			<div class="hidden md:flex gap-1">
				{
					Object.entries(siteConfig.navbarLinks).map(([item, link]) => (
						<a
							class="px-3 py-2 text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:ring ring-gray-100 rounded transition-colors outline-none"
							href={link}
						>
							{t.navbarLinks[item as keyof typeof siteConfig.navbarLinks]()}
						</a>
					))
				}
			</div>
		</div>
		<!-- Right -->
		<div>
			<!-- Language Selector Stub -->
			<!-- Nav Popper Stub -->
			<NavPopper />
		</div>
	</nav>
</div>
