---
import Config from 'virtual:flint/config';
import Layout from '~/layouts/blank.astro';
import { locales } from '~/utils/i18n';

export function getStaticPaths() {
	return locales.map((locale) => ({ params: { locale } }));
}
---

<Layout>
	<main class="container flex flex-col p-8 md:px-16 lg:px-32">
		<div class="mx-auto mb-6 text-dp-lg font-semibold">News tags</div>

		<section class="grid gap-4">
			{
				Object.entries(Config.modules.news.tags).map(([tag, data]) => (
					<a
						class="flex flex-col gap-1 rounded-lg border border-gray-200 bg-gray-25 p-6 hover:border-gray-400 hover:bg-gray-100"
						href={`./${tag}/1/`}
					>
						<div class="text-dp-sm font-semibold">{data.name}</div>
						<div class="text-gray-600">{data.desc}</div>
					</a>
				))
			}
		</section>
	</main>
</Layout>
