---
import { getLocaleFromUrl, i18nObject, loadLocale } from '~/utils/i18n';
import { getUrl } from '~/utils/route';

const locale = getLocaleFromUrl(Astro.url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<div>
	<span class="text-sm text-gray-800"><a href={`${getUrl(locale, 'news')}`}>{t.news.breadcrumbBase()}</a></span>
	<span class="text-sm text-gray-800">/</span>
	<a class="text-sm text-gray-500" href=".">{title}</a>
</div>
