---
import { useTranslation } from '~/utils/i18n-dict';
import { getLocaleFromUrl } from '~/utils/i18n-path';
import { getPagePath } from '~/utils/route';

const locale = getLocaleFromUrl(Astro.url.pathname);
const t = useTranslation(locale);

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<div>
	<span class="text-sm text-gray-800"><a href={`${getPagePath(locale, 'news')}`}>{t.news.breadcrumbBase()}</a></span>
	<span class="text-sm text-gray-800">/</span>
	<a class="text-sm text-gray-500" href=".">{title}</a>
</div>
