---
import Navbar from '@components/layout/navbar.astro';
import Footer from '@components/layout/footer.astro';
import { loadLocale, i18nObject, getLocaleFromUrl } from '@utils/i18n';
import '~/styles/base.css';

const { url } = Astro;
const locale = getLocaleFromUrl(url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<!DOCTYPE html>
<!--
	Value of scroll-pt = (height of navbar (64px) + top margin of headings (24px))
	It prevents elements overlapping with navbar after clicking anchors.
	NOTE: change this value after changing any of these two values.
-->
<html lang={locale} class="scroll-pt-[88px]">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t.site.title()}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	/* firefox scrollbar */
	* {
		scrollbar-color: theme(colors.gray.400) theme(colors.gray.50);
	}

	/* webkit scrollbar */
	*::-webkit-scrollbar,
	*::-webkit-scrollbar-track {
		width: 8px;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
		background-color: theme(colors.gray.400);
		background-clip: content-box;
		border-radius: 10px;
	}
	*::-webkit-scrollbar-thumb:hover {
		border: 1px solid transparent;
	}
	*::-webkit-scrollbar-thumb:active {
		background-color: theme(colors.gray.500);
	}
</style>
