---
import '~/styles/base.css';
import { loadLocale, i18nObject, getLocaleFromUrl } from '@utils/i18n';

const url = Astro.url;
const locale = getLocaleFromUrl(url.pathname);
await loadLocale(locale);
const t = i18nObject(locale);
---

<!DOCTYPE html>
<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t.site.title()}</title>
	</head>
	<body class="min-h-screen bg-gray-50">
		<slot />
	</body>
</html>

<style>
	/* firefox scrollbar */
	* {
		scrollbar-color: theme(colors.gray.400) theme(colors.gray.50);
	}

	/* webkit scrollbar */
	*::-webkit-scrollbar,
	*::-webkit-scrollbar-track {
		width: 8px;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: transparent;
	}
	*::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
		background-color: theme(colors.gray.400);
		background-clip: content-box;
		border-radius: 10px;
	}
	*::-webkit-scrollbar-thumb:hover {
		border: 1px solid transparent;
	}
	*::-webkit-scrollbar-thumb:active {
		background-color: theme(colors.gray.500);
	}
</style>
