---
import Layout from '@layouts/base.astro';
import { TableOfContents } from '@components/docs/table-of-contents';
import { getTocTree } from '~/utils/generate-toc';
import Breadcrumb from '~/components/docs/breadcrumb.astro';
import type { DocsPageProps as Props } from '~/types';
import Fallback from '~/components/docs/fallback.astro';

const { contentProps, pageProps } = Astro.props;
---

<Layout>
	<div class="container flex mx-auto px-4 gap-8">
		<aside class="order-2 hidden lg:block">
			<!-- Height: 100vh - navHeight - 2*yMargin -->
			<nav class="h-[calc(100vh-64px-32px*2)] sticky top-24 flex flex-col gap-2 w-[240px]">
				<div class="text-sm font-bold">On this page</div>
				<div class="relative overflow-auto">
					<TableOfContents tocTree={getTocTree(contentProps.headings)} client:visible />
				</div>
			</nav>
		</aside>
		<main class="order-1 mt-16 flex-1 markdown-body docs">
			<Breadcrumb filePath={contentProps.id} />
			<h1 class="text-dp-lg font-semibold">{contentProps.title}</h1>
			{
				() => {
					if (pageProps.fallback) return <Fallback fallbackLocale={contentProps.locale} />;
				}
			}
			<div>
				<slot />
			</div>
		</main>
	</div>
</Layout>
