---
import Layout from '@layouts/base.astro';
import { TableOfContents } from '@components/docs/table-of-contents';
import { getTocTree } from '~/utils/generate-toc';
import Breadcrumb from '~/components/docs/breadcrumb.astro';
import type { DocsPageProps as Props } from '~/types';
import Fallback from '~/components/docs/fallback.astro';

const { contentProps, pageProps } = Astro.props;
---

<Layout>
	<div class="grid grid-cols-[minmax(14em,1fr)_minmax(0,49em)_1fr] mx-auto w-full gap-8">
		<aside class="order-1"></aside>
		<aside class="order-3 hidden lg:block">
			<!-- Height: 100vh - navHeight - 2*yMargin -->
			<nav class="h-[calc(100vh-64px-32px*2)] sticky grid top-24 gap-2">
				<div class="text-sm font-bold">On this page</div>
				<div class="relative overflow-auto">
					<TableOfContents tocTree={getTocTree(contentProps.headings)} client:visible />
				</div>
			</nav>
		</aside>
		<main class="order-2 mt-8 flex-1 border px-16 pb-16 pt-8 rounded-2xl shadow-2xl docs">
			<Breadcrumb filePath={contentProps.id} />
			<h1 class="text-dp-lg font-semibold mb-4 mt-2">{contentProps.title}</h1>
			{
				() => {
					if (pageProps.fallback) return <Fallback fallbackLocale={contentProps.locale} />;
				}
			}
			<div class="mb-4"></div>
			<div>
				<slot />
			</div>
		</main>
	</div>
</Layout>
