---
import Layout from '@layouts/base.astro';
import Navbar from '@components/layout/navbar.astro';
---

<Layout>
	<Navbar />

	<main class="mt-16 mx-auto max-w-3xl prose">
		<slot />
	</main>
</Layout>
