---
import Layout from '@layouts/base.astro';
import Hero from '@components/landing/hero.astro';
import Navbar from '@components/layout/navbar.astro';
---

<Layout>
	<Hero />
	<Navbar />

	<main>
		<slot />
	</main>
</Layout>
